/*
* Cara Quinlan
* Due date
* Project Name and Description
*/

/* The universal selector */

* 

/* Body attributes here */

body 

img{ width: 500px; height: 400px;

}

#disney{ width: 600px; height:500px;}

figure {float:right;}